{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": ["sqs:SendMessage","sqs:ReceiveMessage"],
      "Resource": "arn:aws:sqs:*:{account_id}:{queue_name}*"
    }
  ]
}